# VSCode Lua extension creates a .luarc.json for each directory in the workspace any time you open a lua file.
# We only want to keep the one inside `./game`.
.luarc.json

# Build directory is created when building binaries.
# It contents are only the generated executables, so we don't need to upload it.
builds/